body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    position: relative;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #888;
}

.logo {
    margin-bottom: 20px;
}

.logo-img {
    width: 40px;
    height: 40px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form label {
    color: #555;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
}

.login-form input {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ddd; 
    background-color: #f9f9f9; 
    color: #333;
    outline: none;
}

.forgot-password {
    text-align: right;
    margin-bottom: 10px;
}

.forgot-password a {
    color: #888;
    font-size: 12px;
    text-decoration: none;
}

.login-btn {
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #888;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
}

.login-btn:hover {
    background-color: #555; 
}

.signup {
    margin-top: 10px;
}

.signup a {
    color: #888;
    text-decoration: none;
    font-size: 14px;
}

.signup a:hover {
    color: #555;
}